PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.0cu7fvo.mongodb.net/task-manager-db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secure-jwt-secret-min-32-characters-long-here
CLIENT_URL=https://your-frontend-domain.netlify.app
CLIENT_URL_ALT=https://your-second-frontend-domain.netlify.app
NODE_ENV=production
